*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    background-color: #F0F0F0;
}

.card-size{
    width:200px;
    height:100px;
}

.card-size_header{
    height:100px;
}
