
.card{
    background-color: red;
    border: yellow 5px solid;
    max-width: 22rem;

    margin-right: 2rem;
    margin-left: 2rem;
    padding:2.18rem;
    margin-bottom: 0.6rem;

}
@media only screen and (max-width: 600px) {
    .cards{
      background-color: lightblue;
}