.container__title{
    font-family: $Poppins ;
    padding-top:1.9rem;
    padding-left:1.9rem;
    padding-right:1.9rem;
    padding-bottom: 1.5rem;
    text-align: left;
    font-weight: bolder;
    font-size:1.25rem;
}

.container__content{
    font-family: $Poppins;
    font-size: 0.75rem;
    color:$GrayishBlue;

    padding-left:1.9rem;
    padding-right:1.9rem;
    padding-bottom: 1.5rem;

    text-align: left;
}



