.container__title{
    font-family: $Poppins ;
    padding-top:1.9rem;
    padding-left:1.9rem;
    padding-right:1.9rem;
    padding-bottom: 1.5rem;
    text-align: left;
    font-weight: bolder;
    font-size:1.25rem;
}

.container__content{
    font-family: $Poppins;
    font-size: 0.75rem;
    color:$GrayishBlue;

    padding-left:1.9rem;
    padding-right:1.9rem;
    padding-bottom: 1.5rem;

    text-align: left;
}


    /*individual styles base*/
    .container__box2{
        border-top-style: solid;
        border-top-color: #4FCCCD;
        border-width: 0.3rem;
    }
   
    .container__box3{
        border-top-style: solid;
        border-top-color:#E15857;
        border-width: 0.3rem;
    }

    .container__box4{
        border-top-style: solid;
        border-top-color: #fcae4a;
        border-width: 0.3rem;
    }
    
    .container__box5{
        border-top-style: solid;
        border-top-color: #589dea;
        border-width: 0.3rem;
    }
    
   



